<h1>Greetings, <%= @name %></h1>
<p><%= formatted_time(@time) %></p>
<p><%= @times_displayed %> view(s)</p>

<!-- paths -->
<p><%= link_to "Google", "https://www.google.com" %></p>
<p><%= link_to "Bye", greeter_bye_path %></p>